// Fonts families selected for app
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Fjalla+One&family=Rajdhani:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

.equityCarouselContainer {
    background-color: $general-equity-carousel-color;
    border-bottom: solid 1px $general-equity-bottom-border-color;
    padding-top: 1.5%;
    padding-bottom:0.5%;
    padding-left: 0%;
    margin-bottom: 2%;
    z-index: 99;
}
