// Fonts families selected for app

*{
    padding: 0;
    margin: 0;
}

.equityCarouselContainer {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #434343, #000000); 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding-top: 1.5%;
    padding-bottom: 0.5%;
    padding-left: 0%;
    z-index: 99;
    color: white;
}

.welcomeBar {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    padding: 0.5%;
    padding-left: 3%;
    background-color: $general-wcb-color;
    border-top: $general-wcb-border-top 2px solid;
}
#userNameBar {
    font-weight:bold;
}