
//General parameter of page
#loginPage {
    // Postion of box
    @include box_position_fixed_centered;
    // Background definitions 
    @include bg_positioner($index-bg-img);
    // Text configuration 

    font-family: $login-page-font;
    ;
    
    h1 {
        font-size: $index-h1-fz;
        
        font-family: $h1-login-font;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: rgb(42, 156, 13);
        transition: all linear .2s;
        &:hover {
            color: rgb(156, 13, 13);
        }
    }
}
.loginCardHeaderStyle {
    @include color_selector(rgb(255, 225, 148));
}
.loginCardfooterStyle {
    @include color_selector(rgb(255, 225, 148));
}

//Changing between forms
.notHiddenForm {
    display: inline;
}

.hiddenForm {
    display: none;
}

.validationMessage {
    display: block;
    position: relative;
    width: 100%;
    padding: 2%;
    border: solid 0.5px rgba(0, 0, 0, 0.329);
}