#index {
    // Postion of box
    @include box_position_fixed_centered;
    // Background definitions 
    @include bg_positioner($index-bg-img);
    // Text configuration 

    font-family: 'Cairo', sans-serif;
    
    h1 {
        font-size: $index-h1-fz;
        
        font-family: 'Fjalla One', sans-serif;
        text-align: center;
    }
    a {
        text-decoration: none;
        color: rgb(42, 156, 13);
        transition: all linear .2s;
        &:hover {
            color: rgb(156, 13, 13);
        }
    }
}
.loginCardHeaderStyle {
    @include color_selector(rgb(255, 225, 148));
}
.loginCardfooterStyle {
    @include color_selector(rgb(255, 225, 148));
}