#mainMenu {
    height: 100vh;
    font-family: $menu-ff;
    a {
        text-decoration: none;
    }
}

.mainMenuContent{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.cardContainer {
    height: 80vh;
  
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

.cardContent {
    height: 200px;
    width: 170px;
    padding-top: 90%;
    background: transparent;
    -webkit-transition: all linear .5s;
    transition: all linear .5s;
    position: relative;
    text-align: center;

    &:hover{
        border: 1px solid $menu-card-border-color;
        padding-top: 50%;
        border-radius: 10px;
        font-size: 25px;
        cursor: pointer;
        background-image: linear-gradient(43deg, $menu-card-bg-grad1 0%, $menu-card-bg-grad2 46%, $menu-card-bg-grad3 100%);
    }
}

.menuCard {
    height: 200px;
    width: 170px;
    background: grey;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 2% 2% 2% 2%;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    overflow: hidden;
    background: black;
    -webkit-box-shadow: 0 70px 63px -60px #000000;
    box-shadow: 0 70px 63px -60px #000000;
    position: relaitive;
}

.menuCard1 {
    width: 170px;
    height: 200px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    opacity: 1;
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
    h2 {
        opacity: .5;
        color: black;
        -webkit-transition: opacity .5s;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: all .8s;
        font-family: "Abel", sans-serif;
    }

    &:hover {
        opacity: 1;
        border: 1px solid white;
        h2 {
            color: white;
        }
    }
}


.welcomeBar {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 99;
    padding: 0.5%;
    padding-left: 3%;
    background-color: $menu-wcb-color;
}


