
// index variables 

$index-bg-img:"../images/backgrounds/crypto_background_login.jpg";
$index-h1-fz: 26px;


// menu variables 
$main-menu-bg-img: "../images/backgrounds/taxi.jpg";
$menu-ff: 'Cairo', sans-serif;
$menu-wcb-color: rgb(255, 248, 154);
$menu-card-container-color: white;
$menu-card-container-border-color: rgb(26, 95, 122);


// GEneral variables
$general-equity-carousel-color: white;
$general-equity-bottom-border-color: yellow;
