
// index variables 

$index-bg-img:"../images/backgrounds/crypto_background_login.jpg";
$index-h1-fz: 26px;


// menu variables 
$main-menu-bg: rgb(240, 233, 210);
$menu-card1-bg: rgb(103, 137, 131);
$menu-ff: 'Cairo', sans-serif;
$general-wcb-color: rgb(230, 221, 196);
$menu-card-bg-color: #4158D0;
$menu-card-bg-grad1: #4158D0;
$menu-card-bg-grad2:#C850C0;
$menu-card-bg-grad3:#FFCC70;
$menu-card-h2-color-2: white;
$menu-card-h2-color-1: black;
$menu-card-h2-ffamily:'Abel', sans-serif;
$menu-card-border-color: #ffff;


// GEneral variables
$general-wcb-border-top: rgb(24, 29, 49);
$general-equity-carousel-color: white;
$general-equity-bottom-border-color: yellow;
$gradient-bg-simple: #0f0c29;
$gradient-bg-first:#24243e;
$gradient-bg-second: #302b63;
$gradient-bg-last: #0f0c29;
$sidebar-a-color: #FFCC70;
$sidebar-a-color-hover: white;